*{
  margin: 0;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
div{
  text-align: center;

}
.red{
  background-color: red;
}
#yellow{
  background-color: yellow;
}
.general div{
  display: inline-block;
  height: 50px;
  width: 170px;
}
