*{
  margin: 0;
  padding: 0 0 10px 0;
  font-family: "Raleway", sans-serif;
}
.red{
  background-color: red;
}
#yellow{
  background-color: yellow;
}
.general div{
  height: 40px;
  width: 80px;
  margin: 10px 10px 0 10px;
  border-style: solid;
}
#caja2{
  height: 70px;
  width: 420px;
}
#caja2 div{
  display: inline-block;
}
#cajax{
  border-style: none;
  height: 50px;
  width: 300px;
  margin-left: 0;
  padding-left: 0;
}
#cajax div{
  display: inline-block;
  margin-top: 0;
}
