*{
  margin: 0;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
div{
  text-align: center;
  display: inline-block;
  height: 20px;
}
.red{
  background-color: red;
}
#yellow{
  background-color: yellow;
}
